#title {
    color: #02004e;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#leftBanner {
    color: #02004e;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
    padding-bottom: 30px;
}